<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Sharks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-
    scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-
expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                    navigation</span>
            </button> <a class="navbar-brand" href="/">Everything
                Sharks</a>
            <div class="collapse navbar-collapse" id="bs-example-
navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-
link">Home</a>
                    </li>
                    <li class="active nav-item"><a href="/sharks" class="nav-link">Sharks</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <h1>Shark Info</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p>
                <div class="caption">Some sharks are known to be
                    dangerous to humans, though many more are not. The sawshark, for
                    example, is not considered a threat to humans.
                </div>
                <img src="https://assets.digitalocean.com/articles/docker_node_image/saw
shark.jpg" class="rounded" width="80%" alt="Sawshark"></p>
            </div>
            <div class="col-lg-4">
                <p>
                <div class="caption">Other sharks are known to be
                    friendly and welcoming!</div>
                <img src="https://assets.digitalocean.com/articles/docker_node_image/sam
my.png" alt="Sammy the Shark" width="80%">
                </p>
            </div>

            <div class="col-lg-4">
                <p>
                <div class="caption">Your Sharks</div>
                <ul class="list-group">
                    <% sharks.forEach(function(shark) { %>
                    <p class="list-group-item">Name: <%= shark.name %></p>
                    <p class="list-group-item">Character: <%= shark.character %></p>
                    <% }); %>
                </ul>
                </p>
            </div>

        </div>


    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>